<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanHangQuaMang.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=LISTENER_XE;DBA PRIVILEGE=SYSDBA;PASSWORD=161299;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>